<div *ngIf="id == 1">
  <h1>La identidad de los usuarios de Internet, cada vez más segura</h1>
  <img [src]="imgNoticia1">
  <p>
    La Universidad Rey Juan Carlos (URJC) (España) ha publicado una patente de gestión de identidades en la red y los
    resultados de un estudio aplicados a un proyecto de tele-asistencia.
  </p>
  <p>
    La línea de investigación en la que se enmarcan estos trabajos está relacionada con los denominados ‘esquemas de
    gestión de identidades federados’, en los que los usuarios confían en un proveedor de identidades como, por
    ejemplo, Facebook o Google, que ya están asumiendo este papel. El objetivo que se han marcado los investigadores es
    mejorar las especificaciones que ya existen, y que están usando estos proveedores (como OpenID Connect) para
    adaptarlas a nuevos contextos como el ‘Internet de las cosas’ (IoT, por sus siglas en ingles) y las ciudades
    inteligentes (smart cities).
  </p>
</div>
<div *ngIf="id == 2">
  <h1>Un nuevo algoritmo mejora la seguridad de los vuelos y reduce los retrasos</h1>
  <img [src]="imgNoticia2">
  <p>
    La Universidad Carlos III de Madrid (UC3M) (España) ha participado en un proyecto europeo de investigación,
    denominado TBO-Met, en el que se ha desarrollado un algoritmo que maximiza la previsibilidad de los vuelos y reduce
    el riesgo de toparse con fenómenos tormentosos (potencialmente peligrosos). Gracias a ello, se puede mejorar la
    seguridad, aumentar la capacidad del tráfico aéreo y reducir los retrasos.
  </p>
  <p>
    Incluso con la ayuda de los últimos avances en tecnología de pronóstico meteorológico, el tiempo puede ser difícil
    de predecir. Esto supone un problema para la gestión de los vuelos, que requiere de un pronóstico eficaz para poder
    garantizar un tráfico fluido. La investigación realizada por los científicos del proyecto TBO-Met (Meteorological
    Uncertainty Management for Trajectory Based Operations) ha dado lugar a un algoritmo que se aplica a la trayectoria
    de la aeronave - lo que se conoce como el plan de vuelo - y que permite prever mejorar el tráfico aéreo al tener en
    cuenta las incertidumbres del pronóstico del tiempo. Este avance permite incrementar la capacidad del sistema, es
    decir, el número de aviones que pueden volar en un fragmento de espacio y tiempo.
  </p>
</div>
<div *ngIf="id == 3">
  <h1>Diodo láser contra el aceite fraudulento</h1>
  <img [src]="imgNoticia3">
  <p>
    Investigadores de la Universidad Complutense de Madrid (UCM) (España) y del Scintillon Institute en EE UU han diseñado un sensor que permite detectar falsificaciones en el contenido de aceite de oliva etiquetado como virgen extra o con denominación de origen.
  </p>
  <p>
    La herramienta, cuya aplicación se ha presentado en la revista Talanta, permite distinguir aceites aparentemente similares, pero con diferencias de calidad notables. Esto es posible gracias a la utilización de diodos láser, ya que los aceites adulterados presentan una emisión de fluorescencia ligeramente distinta a los aceites de oliva virgen extra puros.
  </p>
</div>
<div *ngIf="id == 4">
  <h1>Un nuevo adhesivo de uso médico que se puede retirar sin dolor</h1>
  <img [src]="imgNoticia4">
  <p>
    Investigadores del Laboratorio de Adhesión y Adhesivos de la Universidad de Alicante (UA) (España) han desarrollado y patentado un adhesivo capaz de pegarse a la piel con una ligera presión. Además de ofrecer una gran tolerancia, este nuevo poliuretano no deja residuos y puede ser retirado sin dolor enfriando ligeramente la zona.
  </p>
  <p>
    Biocompatible y transparente, este avance en el sector de los biomateriales está pensado para productos médicos aunque también tiene unas propiedades excelentes para el etiquetado y transporte de mercancías o alimentos refrigerados.
  </p>
</div>
