<h3>Obtener entrada de usuario desde una variable de referencia de plantilla</h3>
<div class="row">
  <div class="col-6">
    <div class="form-group">
      <input type="text" class="form-control" #box (keyup)="0">
      {{box.value}}
    </div>
  </div>
</div>
<p>
    Esto no funcionará en absoluto a menos que se vincule a un evento .
    Angular actualiza los enlaces (y por lo tanto la pantalla) sólo si la aplicación hace algo en respuesta a eventos asíncronos, como pulsaciones de teclas. Este ejemplo de código vincula el evento keyup al número 0, la instrucción de plantilla más corta posible. Mientras que la declaración no hace nada útil, satisface el requisito de Angular para que este actualice la pantalla.
</p>
